
<div class="container">

  <div class="page-header">
    <h1>
      <%= @project.name %>: Manage Members
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li>Memberships</li>
  </ol>



  <div class="well form-inline">
    <%= form_for [@project, @membership] do |f| %>
      <%= f.collection_select :user_id, User.all, :id, :full_name,
        {prompt: "Please select a user ..."}, {class: "form-control"} %>
      <%= f.collection_select :role, @membership_types, :to_s, :to_s,
        {}, {class: "form-control"}  %>
      <%= f.submit 'Add New Member', class: "btn btn-info" %>
    <% end %>
  </div>


  <div>


  <table class="table-condensed">
    <tbody>

      <% @memberships.each do |member| %>

        <%= form_for [@project, member], url: project_membership_path(@project,member),
          method: 'patch' do |f| %>

          <tr>
            
          <td> <%= link_to member.user.full_name, user_path(member.user)%> </td>
          <!-- <td>
            f.collection_select :role, @membership_types, :to_s, :to_s, {}
              {class: "form-control"}
          </td> -->

          <td>
            <%= f.select :role,[ ['Member', 'member'],
            ['Owner', 'owner'] ], {}, {class: "form-control"} %>
          </td>

          <td> <%= f.submit 'Update', class: "btn btn-info" %> </td>

          <td>
            <%= link_to '', project_membership_path(@project,member), method: 'delete',
                class: "glyphicon glyphicon-remove" %>
          </td>

          </tr>

        <% end %>

      <% end %>

    </tbody>
  </table>

  </div>

</div>
