
<div class="container">

  <div class="page-header">
    <h1>
      <%= @project.name %>: Manage Members
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li>Memberships</li>
  </ol>

  <% project_owner = @project.memberships.find_by(role: 'owner') %>
  <% if current_user.id == project_owner.user_id || current_user.admin == true %>

    <% if @membership.errors.any? %>
      <div class="row">
        <div class="col-sm-6">
          <div class="alert alert-danger">
            <h3> <%= pluralize(@membership.errors.count, "error") %>
              prohibited this form form being saved:
            </h3>
            <ul>
              <% @membership.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="well form-inline">
      <%= form_for [@project, @membership] do |f| %>

        <%= f.collection_select( :user_id, User.all, :id, :full_name,
          {prompt: "Please select a user ..."}, {class: "form-control"} )%>

        <%= f.collection_select( :role, @membership_types, :to_s, :to_s,
          {}, {class: "form-control"} ) %>

        <%= f.submit 'Add New Member', class: "btn btn-info" %>

      <% end %>
    </div>

    <table class="table-condensed">

      <tbody>

        <% all_owners = @memberships.where(role: "owner") %>

        <% @memberships.each do |member| %>

          <%= form_for [@project, member], url: project_membership_path(@project,member),
            method: 'patch' do |f| %>

            <tr>

              <td> <%= link_to member.user.full_name, user_path(member.user)%> </td>

              <td>
                <%= f.select :role,[ ['Member', 'member'],
                ['Owner', 'owner'] ], {}, {class: "form-control"} %>
              </td>

              <td> <%= f.submit 'Update', class: "btn btn-info" %> </td>

              <td>
                <% if all_owners.count == 1 && member.role=="owner" %>
                  You are the last owner
                <% else %>
                  <%= link_to '', project_membership_path(@project,member), method: 'delete',
                      class: "glyphicon glyphicon-remove" %>
                <% end %>
              </td>

            </tr>

          <% end %>

        <% end %>

      </tbody>
    </table>

  <% else %>

    <table class="table">
      <thead>
      </thead>
      <tbody>

        <% @memberships.each do |member| %>

          <tr>

            <td> <%= link_to member.user.full_name, user_path(member.user)%> </td>

            <td> <%= member.role %> </td>

            <td>
            <% if current_user.id == member.user_id %>
                <%= link_to '', project_membership_path(@project,member), method: 'delete',
                    class: "glyphicon glyphicon-remove" %>
            <% end %>
            </td>

          </tr>

        <% end %>

      </tbody>
    </table>

  <% end %>

</div>
