
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_task_path, class: "btn btn-info"%>
    </div>
    <h1>Tasks</h1>
  </div>

  <table class="table">

      <thead>
        <tr>
          <th>Description</th>
          <th>Due On</th>
          <th></th>
        </tr>
      </thead>

      <% @tasks.each do |task| %>

      <tbody>
        <tr>
          <div class="row">
              <div>
                <td>
                  <% if task.complete==true %>
                    <s><%= link_to task.description, task_path(task) %></s>
                  <% else %>
                    <%= link_to task.description, task_path(task) %>
                  <% end %>
                </td>
                <td>
                  <% if task.due_date %>
                    <%= task.due_date.strftime("%D") %>
                  <% end %>
                </td>
                <td align="right">
                  <%= link_to "Edit", edit_task_path(task), class: "btn btn-info" %>
                  <%= link_to "Delete", task_path(task), class: "btn btn-danger", method: :delete%>
                </td>
              </div>
          </div>
        </tr>
      </tbody>

      <!-- <tbody>
        <tr>
          <div class="row">
            <td>
              <div class="col-md-4">
                <% if task.complete==true %>
                  <s><%= link_to task.description, task_path(task) %></s>
                <% else %>
                  <%= link_to task.description, task_path(task) %>
                <% end %>
                <%= task.due_date %>
              </div>
              <div class="col-md-8 text-right">
                <%= link_to "Edit", edit_task_path(task), class: "btn btn-info" %>
                <%= link_to "Delete", task_path(task), class: "btn btn-danger", method: :delete%>
              </div>
            </td>
          </div>
        </tr>
      </tbody> -->

    <% end %>

  </table>

</div>
