
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
    <h1>
      <% if @task.complete==true %>
        <s><%= @task.description %></s>
        &nbsp;
      <% else %>
        <%= @task.description %>
        &nbsp;
      <% end %>
    </h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to @project.name, project_tasks_path(@project) %></li>
    <li><%= link_to 'Tasks', project_tasks_path %></li>
    <li><%= @task.description %></li>
  </ol>


  <% if @task.due_date %>
    <b>Due on:</b> <%= @task.due_date.strftime("%D") %>
    <br>
    <% if @task.complete==true %>
      <b>Complete:</b> true
    <% else %>
      <b>Complete:</b> false
    <% end %>
    <br>
    <h3>Comments</h3>
  <% end %>
  </br>

  <% @task.comments.each do |comment| %>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "#{current_user.first_name} #{current_user.last_name}" %>
        <div class="text-muted">
          <%= time_ago_in_words(comment.created_at) %>
        </div>
      </div>
      <div class="col-md-9">
        <%= comment.words %>
      </div>
    </div>
    <br>
  <% end %>

  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-9">
      <%= form_for @comment, url: project_task_comments_path(@project,@task) do |f| %>
        <%= f.text_area(:words, size: '117x3') %>
        <br>
        <%= f.submit 'Add Comment', class: "btn btn-info" %>
      <% end %>
    </div>
  </div>

</div>
