

<%= form_for @user, url: sign_up_path do |f| %>

  <div class="container">
    <div class="well col-md-6 col-md-offset-3">
      <br>
        <h3>Sign Up for gCamp!</h3>

        <% if @user.errors.any? %>
          <ul class="list-unstyled text-danger">
            <% @user.errors.full_messages.each do |m| %>
              <li> <%= m %> </li>
            <% end %>
          </ul>
        <% end %>

        <hr>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "col-md-4 form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "col-md-4 form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "col-md-4 form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "col-md-4 form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, class: "col-md-4 form-control"%>
        </div>
          <br>
          <br>
        <div class="form-group">
          <%= f.submit 'Sign Up', class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
