

<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p>
      <a class="navbar-brand" href="#">GCamp</a>
    </p>
  </div>
</nav> -->

<div class="container">
  <div class="jumbotron">
    <!-- <div class="container"> -->
      <h1>gCamp</h1>
      <p>
      </p>
      <p>Your life, organized</p>
    <!-- </div> -->
  </div>
</div>

<div>

</div>

<div class="container">
  <div class="row lead">
    <div class="col-md-4">
        <p class="lead"><%=image_tag("8969237967_c5960fc544_b.jpg",
        class:"img-responsive")%></p>
    </div>
    <div class="col-md-4">
        <p class="lead"><%=image_tag("8864977481_713b7cbda5_b.jpg",
        class:"img-responsive")%></p>
    </div>
    <div class="col-md-4">
        <p class="lead"><%=image_tag("8203794182_8004f8f636_b.jpg",
        class:"img-responsive")%></p>
    </div>
  </div>
</div>

<div>
</div>


<div class="container">
  <div class="row" >

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and lists. Just the way you like'em
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>
        <div class="panel-body">
          Fine-grained permissions.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li> Comment on tasks and documents
            <li> Get email notifications
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="container">

    <% quotes_array = [
      { qt: "gCamp has changed my life!  It's the best tool I've ever used.",
        au: "- Cayla Hayes" },
      { qt: "Before gCamp I was a disorderly slob.  Now I'm more organized than I've ever been",
        au: "- Leta Jaskolski"},
      { qt: "Don't hesitate - sign up right now! You'll never be the same.",
        au: "- Lavern Upton"}
      ] %>

      <% quotes_array.each do |quote| %>
      <p> "<%= quote[:qt] %>" </p>
      <p> <em class="text-muted"> <%= quote[:au] %> </em> </p>
      <% end %>

  </div>

  <footer>
      <hr/>
      <%= link_to "Terms", terms_path %> |
      <%= link_to "About", about_path %>

      <%= link_to "https://students.gschool.it/cohorts/8/students/317" do%>
        <%=image_tag("symbolGalvanize.png", class:"icon_image") %>
      <% end %>

      <%= link_to "https://twitter.com/codogwater" do%>
        <%=image_tag("symbolTwitter.png", class:"icon_image") %>
      <% end %>

      <%= link_to "https://github.com/furey789" do%>
        <%=image_tag("symbolGit.png", class:"icon_image") %>
      <% end %>

      <%= link_to "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" do%>
        <%=image_tag("symbolLinkedIn.jpg", class:"icon_image") %>
      <% end %>

      <p>
      </p>
  </footer>


</div>
