<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info"%>
      <%= link_to "Delete", project_path(@project), class: "btn btn-danger", method: "delete"%>
    </div>
    <h1><%= @project.name %> Project</h1>
  </div>

  <ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= @project.name %></li>
  </ol>

  <% if @project.tasks.count==1 %>
    <%= link_to @project.tasks.count.to_s + " Task", project_tasks_path(@project) %>
  <% else %>
    <%= link_to @project.tasks.count.to_s + " Tasks", project_tasks_path(@project) %>
  <% end %>

</div>
