<!DOCTYPE html>
<html>

<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">gCamp</a>
      <ul class="nav navbar-nav navbar-right">

        <% if session[:user_id].present? %>
          <li>
            <%= link_to current_user.first_name + ' ' + current_user.last_name,
            user_path(current_user) %>
          </li>
          <li>
            <%= link_to "Sign Out", sign_out_path %>
          </li>
        <% else %>
          <li>
          <%= link_to "Sign Up", sign_up_path %>
          </li>
          <li>
            <%= link_to "Sign In", sign_in_path %>
          </li>
        <% end %>

      </ul>
    </div>
  </nav>
.
  <% if notice %>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  </div>
  <% end %>

  <% if alert %>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  </div>
  <% end %>

  <%= yield %>   <!-- body of page goes here -->

  <div class="container">
    <footer>
        <hr/>
        <%= link_to "Terms", terms_path %> |
        <%= link_to "About", about_path %> |
        <%= link_to "FAQ", faq_path %>

        <% if current_user %>
          |
          <%= link_to "Users", users_path %> |
          <%= link_to "Projects", projects_path %>
        <% end %>

        <%= link_to "https://students.gschool.it/cohorts/8/students/317" do%>
          <%=image_tag("symbolGalvanize.png", class:"icon_image") %>
        <% end %>

        <%= link_to "https://twitter.com/codogwater" do%>
          <%=image_tag("symbolTwitter.png", class:"icon_image") %>
        <% end %>

        <%= link_to "https://github.com/furey789" do%>
          <%=image_tag("symbolGit.png", class:"icon_image") %>
        <% end %>

        <%= link_to "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" do%>
          <%=image_tag("symbolLinkedIn.jpg", class:"icon_image") %>
        <% end %>
    </footer>
  </div>


</body>

</html>
